{% extends 'borne/base.html' %}
{% load static %}

{% block content %}

<!-- IMAGE BACKGROUND -->
<div class="bg-image"></div>

<!-- CONTENU -->
<div class="container text-white d-flex align-items-center" style="min-height: 90vh;">

    <div class="row w-100 align-items-center">
        
        <!-- TEXTE -->
        <div class="col-lg-6 text-center text-lg-start">
            <h1 class="display-3 fw-bold mb-3">
                Electro<span class="text-primary">Charge</span>
            </h1>

            <p class="fs-4 mb-4">
                Gestion intelligente des bornes de recharge  des voitures électrique
            </p>

            <a href="/borne/" class="btn btn-primary btn-lg me-3">
                Voir les bornes
            </a>

            <a href="/sessions/" class="btn btn-outline-light btn-lg">
                Sessions
            </a>
        </div>

        <!-- CARTE -->
        <div class="col-lg-6 mt-5 mt-lg-0">
            <div class="glass-card p-4 rounded-4">
                <h3 class="fw-bold mb-3">Pourquoi nous ?</h3>

                <p>
                    ElectroCharge optimise la gestion des bornes et améliore les performances.
                </p>

                <ul>
                    <li>✔ Optimisation d'énergie</li>
                    <li>✔ Données en temps réel</li>
                    <li>✔ Sécurisé 24/7</li>
                </ul>

                
            </div>
        </div>

    </div>

</div>

<style>

/* IMAGE FOND */
.bg-image {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background: url("{% static 'images/photo.jpg' %}") no-repeat center center;
    background-size: cover;

    z-index: -2;

    filter: brightness(0.5);
}

/* GLASS EFFECT */
.glass-card {
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    color: white;
}

/* TEXTE */
h1 {
    text-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
}

</style>

{% endblock %}